<h3>Signed In</h3>

<form action="/admin" method="post">
  <label for="username">
    <b>username</b>
  </label>
  <input type="text" name="username" placeholder="Enter username" />

  <label for="password">
    <b>password</b>
  </label>
  <input type="text" name="password" placeholder="Enter password" />

  <input type="submit" value="login" class="btn" />
</form>

<!-- <h3>Register</h3>

<form action="/register" method="post">
  <label for="username">
    <b>username</b>
  </label>
  <input type="text" name="username" placeholder="Enter username" />

  <label for="password">
    <b>password</b>
  </label>
  <input type="text" name="password" placeholder="Enter password" />

  <input type="submit" value="register" class="btn" />
</form> -->
