<div class="author">
  <h1 class="author__heading">Hi, I a Manuel.</h1>
  <p class="author__body">Web developer</p>
</div>

<img src="/img/hero-image.jpeg" alt="" class="hero-image" />

<section class="articles">
  <h2 class="articles__heading">Latest articles</h2>

  <ul class="article-ul">
    <li>
      <a href=""
        ><span>Post Title</span>
        <span class="article-ul__date">Date</span>
      </a>
    </li>
  </ul>

  <a href="" class="pagination">View Older Posts</a>
</section>
