<div class="author">
  <h1 class="author__heading">Hi, I am Manuel.</h1>
  <p class="author__body">Web developer, foodie, and metalhead.</p>
</div>

<img src="/img/hero-image.jpeg" alt="" class="hero-image" />

<section class="articles">
  <h2 class="articles__heading">Latest articles</h2>

  <ul class="article-ul">
    <% posts.forEach(post => { %>
    <li>
      <a href="/post/<%= post?._id %>"
        ><span><%= post?.title %></span>
        <span class="article-list__date"
          ><%= post?.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">View Older Posts</a>

  <% } %>
</section>
